<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta charset="utf-8">
    <title>Pet Hotel</title>

    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/styles/style.css" charset="utf-8">
  </head>

  <body>
    <h1>Welcome to the Pet Hotel California</h1>
    <h2>Such a lovely place(Such a lovely place)...</h2>
    <h3>"Relax," said the night man,</h3>
    <h3>"We are programmed to recieve.</h3>
    <h3>You can check-out any time you like,</h3>
    <h3>But you can never leave!"</h3>
      <!-- sets the $scope for petController, is defined in script.js-->
      <div ng-controller="petController">
        <!--  ng model tag refers to the script.js petObjectToSend-->
        <input type="text" ng-model="pet_name" name="name" placeholder="pet_name" value="">
        <input type="text" ng-model="pet_type" name="name" placeholder="pet_type" value="">
        <input type="text" ng-model="pet_age" name="name" placeholder="pet_age" value="">
        <input type="img" ng-model="pet_image" name="name" placeholder="pet_image" value="">

        <!-- starts the function addPetRecord() or getPetRecords() when the user clicks on the button-->
        <button type="button" ng-click="addPetRecord();" name="button">add pet</button>
        <!--'add pet' button clicked initiating addPetRecord() function go to script.js $scope.addPetRecord -->
        <button type="button" ng-click="getPetRecords()" name="button">show pets</button>
        <!--'show pets' button clicked initiating getPetRecords() function go to script.js $scope.getPetRecord -->

        <table>
          <!-- ng-repeat pulls the info back onto the dom
          anything can be called anything but here refers to the array allThePets -->
          <tr ng-repeat="anything in allThePets">
            <td> <img ng-src="{{ anything.image }}" alt="{{ anything.name }}'s photo" class="resize" </td>
            <td>Name: {{anything.name}}</td>
            <td>Type: {{anything.type}}</td>
            <td>Age: {{anything.age}}</td>
            <!--  'remove pet' button calls the function removePet() w/the parameter of $index is this an NG varialbe now?-->
            <td><button type="button" ng-click="removePet($index)" name="button">checkout</button></td>
          </tr>
        </table>

    </div>
  </body>
</html>
